@model IEnumerable<ClienteApiDepartamentosEmpleadoMultiple.Models.Empleado>

@{
    ViewBag.Title = "Empleados";
}

<h2>Empleados</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("IncrementoSalarial", "Hospital", FormMethod.Post))
{
<table class="table">
    <tr>
        <th>Incrementar salario <input type="text" name="incremento" /></th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Oficio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Departamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salario)
        </th>


    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td><input type="checkbox" name="empno" value="@item.empno" /></td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Oficio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.salario)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                <button type="submit" class="btn-success">incrementar</button>
            </td>
        </tr>
    }

</table>
}

